<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="test.pojo.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="TINYINT" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
    id, name, phone_num, sex, is_deleted
    </sql>

    <select id="getAllCount" resultType="java.lang.Integer">
       select count(1) from user
    </select>

    <insert id="batchInsertUser" parameterType="map" >
        insert into user (name,sex,address,comment,telephone_number)
        values
        <foreach collection ="list" item="user" index= "index" separator =",">
                             (
                             #{user.name}, #{user.sex},
                             #{user.address},
                             #{user.comment},
                             #{user.phoneNum}
                             )
                         </foreach >
    </insert>

    <select id="getAllUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from
        user
        where  is_deleted=0
    </select>
</mapper>